<div class="wrapper">

    <div class="heading">Leaderboards</div>
    <div class="test-length-selection">
        Words:
        <button class="test-length ten" (click)="lengthChange(10)">10</button>
        <button class="test-length twenty-five" (click)="lengthChange(25)">25</button>
        <button class="test-length fifty" (click)="lengthChange(50)">50</button>
    </div>
    <table class="leaderboard-table">
        <tr>
            <th>Rank</th>
            <th class="username-col">Username</th>
            <th class="wpm-col">Average WPM</th>
        </tr>
        <tr *ngFor="let entry of leaderboards; let i=index">
            <td>{{i+1}}</td>
            <td class="username-col">{{entry.username}}</td>
            <td class="wpm-col">{{entry.wpm}}</td>
        </tr>
    </table>
</div>