.page-header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-background);
    box-shadow: 0 0 6px 2px var(--accent-color);
    display: flex;
    align-items: flex-end;
}

.title {
    font-size: 30pt;
    padding: 0 0 .25rem 1rem;
    z-index: 1;
    position: relative;
    cursor: pointer;
    /* should make this a router link to the test component */
}

.title:hover::after {
    content: "";
    opacity: 0;
    width: 97%;
    background-color: var(--light-gray);
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: .6rem;
    left: 1rem;
    z-index: -1;
    animation: slide 250ms ease-in-out forwards;
}

.nav button {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 .5rem .5rem 1.5rem;
    padding: .25rem;
    border-radius: .25rem;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.nav button:hover {
    background-color: #AAA;
}

.nav button:hover > svg {
    fill: var(--header-background);
}

.nav button > svg {
    fill: var(--light-gray);
    width: 25px;
    height: 25px;
    transition: 150ms ease-in-out;
}

.nav .leaderboard svg {
    height: 30px;
    width: 30px;
}

@keyframes slide {
    0% {
        opacity: 1;
        width: 0;
    }
    
    100% {
        opacity: 1;
        width: 100%;
    }
}