<div class="wrapper">
    <div class="heading">About Us</div>
    <div class="text-content">GorillaType was created with one goal in mind: to serve those looking for a fun and
        relaxing typing test (and to complete a group project we were working on). <a class="website-link" href="http://" target="_blank"
            rel="noopener noreferrer">Carson Bring</a>, <a class="website-link" href="http://students.cs.ndsu.nodak.edu/~benjamin.rybacki/website/" target="_blank"
            rel="noopener noreferrer">Ben Rybacki</a>, <a class="website-link" href="http://" target="_blank"
            rel="noopener noreferrer">Isaac Landin</a>, and <a class="website-link" href="http://" target="_blank"
            rel="noopener noreferrer">Jordan Hove</a> spent hours developing this website to obtain
        the A as well as create a typing test that
        they were proud of. Throughout the development of this project, we learned new things, challenged ourselves, and
        ultimately produced work that we were proud of. Our website was inspired by a typing website 
        we enjoiy called MonkeyType. This website is purely for educational use as an assignment for NDSU CSCI 313. We hope you enjoy our site!</div>
</div>