<div class="wrapper">
        <div class="test-header">
                <div class="test-header-title">Type!</div>
                <div class="test-header-timer">00:00</div>
                <div class="test-length-toggle">
                        Words:
                        <button (click)="lengthChange($event.target)" class="toggle-length-button 10">10</button>
                        <button (click)="lengthChange($event.target)" class="toggle-length-button 25">25</button>
                        <button (click)="lengthChange($event.target)" class="toggle-length-button 50 active">50</button>
                </div>
        </div>
        <div class="test-content">
                {{prompt}}
        </div>
</div>