.wrapper{
    width: 65%;
    max-width: 1000px;
    margin: auto;
    font-size: 1.5rem;
    margin-top: var(--margin-top);
}

.test-content{
    margin-top: .25rem;
    color: var(--button);
    padding: 0 .5rem;
    display: flex;
    flex-wrap: wrap;
}

.test-header-timer {
    color: var(--button);
    transition: 150ms ease-in-out;
}

.test-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid var(--button);
}

.test-header button {
    background: none;
    border: none;
    color: var(--button);
    font-size: .8rem;
    margin: 0 .25rem 0 .25rem;
    padding: 0;
    cursor: pointer;
}

.test-length-toggle {
    color: var(--button);
    font-size: .8rem;
}

.test-header button.active {
    color: var(--accent-color);
}

.test-header button:hover {
    color: white;
}

.test-header .test-header-title {
    font-size: 2rem;
    transition: 200ms ease-in-out;
    font-weight: bold; 
}

.stop-test {
    padding: .5em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em auto 0 auto;
    border: none;
    background-color: var(--button);
    border-radius: .25em;
    transition: 125ms ease-in-out;
}

.stop-test svg {
    border-radius: .1em;
    width: 2em;
    height: 2em;
    fill: var(--background-color);
}

.stop-test:hover {
    box-shadow: 0 .5em 5px 2px var(--header-background);
    transform: translateY(-3px);
}

.stop-test:active {
    background-color: #AAA;
    transition: 50ms ease-in-out;
}

.userInput {
    position: absolute;
    opacity: 0;
}