.wrapper{
    width: 65%;
    margin: auto;
    font-size: 1.5rem;
    margin-top: var(--margin-top);
}

.test-content{
    margin-top: .25rem;
    color: var(--light-gray);
    padding: 0 .5rem;
}

.test-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.test-header button {
    background: none;
    border: none;
    color: var(--light-gray);
    font-size: .8rem;
    margin: 0 .25rem 0 .25rem;
    padding: 0;
    cursor: pointer;
}

.test-length-toggle {
    color: var(--light-gray);
    font-size: .8rem;
}

.test-header button.active {
    color: var(--accent-color);
}

.test-header button:hover {
    color: white;
}

.test-header .test-header-title {
    font-size: 2rem;
    font-weight: bold;
}