<!-- <p>{{id}}</p> -->
<div class="container"*ngIf="!signedIn">
    <div class="buttonsWrapper">
        <button (click)="setLogin()">Log In</button>
        <button (click)="setCreateUser()">Create User</button>    
    </div>
    
    <div class="signin" *ngIf="CreateUser">
        <h2>Create a user</h2>
        <p>Username</p>
        <input type="text" [(ngModel)]="newUsername">

        <p>Password</p>
        <input type="text" [(ngModel)]="newPassword">
        <br>
        <button (click)="addNewUser()">Create</button>

    </div>

    <div *ngIf="createdUser">
        You created an account! Now its time to log in!
    </div>
    <div *ngIf="duplicateUser">
        Username already exists, please try again.    
    </div>

    <div class="login" *ngIf="LogIn">
        <h2>Log In</h2>
        <p>Username</p>
        <input type="text" [(ngModel)]="logUsername">

        <p>Password</p>
        <input type="text" [(ngModel)]="logPassword">
        <br>
        <div *ngIf="incorrectLogin">
            <p style="color:lightcoral">The username and password entered are incorrect</p>
        </div>
        <br>
        <button (click)="login()">Log In</button>

    </div>
</div>

<div class="loggedWrapper">
    <div class="loggedIn" *ngIf="signedIn">
        <h2 class="username"> {{currentUser.username}}</h2>
        <h3 class="WPM">WPM</h3>
        <div class="wpmWrapper">
            <p>10 Word: {{currentUser.TenWPM}}</p>
            <p>25 Word: {{currentUser.TwentyFiveWPM}}</p>
            <p>50 Word: {{currentUser.FiftyWPM}}</p>
        </div>
    </div>

</div>