.loggedIn {
    position: relative;
    border: 2px solid var(--black-or-white);
    padding: 1em;
    padding-bottom: .25em;
    border-radius: .25em;
}

.loggedWrapper {
    width: 50%;
    margin: 20vh auto auto auto;
}

.wpmWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 7em;
}

.WPM {
    text-align: center;
}

.username {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.buttonsWrapper {
    justify-content: center;
    display: flex;
    height: 4rem;
    width: 100%;
}

.buttonsWrapper button {
    height: 2.2rem;
    margin: 1.5em 1em 0em 0em;
    width: 6rem;
    border: none;
    background-color: var(--button);
    border-radius: .25em;
    transition: 125ms ease-in-out;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 600;
}

button:hover {
    box-shadow: 0 .5em 5px 2px var(--header-background);
    transform: translateY(-3px);
}

.buttonsWrapper button:active {
    background-color: #AAA;
    transition: 50ms ease-in-out;
}

.login button,
.signin button {
    align-self: center;
    border: none;
    background-color: var(--button);
    border-radius: .25em;
    transition: 125ms ease-in-out;
    color: var(--background-color);
    font-size: 15px;
    height: 2rem;
    width: 5rem;
    font-weight: 600;
}

.signin button.selected,
.login button.selected {
    animation: submit-pass 1000ms forwards;
}

@keyframes submit-pass {
    50% {
      background-color: var(--accent-color);
      color: var(--background-color);
    }
  
    100% {
      background-color: var(--button);
      color: var(--background-color);
    }
  }

.login,
.signin {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2 {
    text-align: center;
    margin-bottom: 0;
}

input {
    width: 80%;
    margin-left: 10%;
    background-color: transparent;
    padding: .5em;
    font-size: 14pt;
    border-radius: .5em;
    border: solid 2px var(--button);
    color: var(--button);
}

p {
    margin-left: 10%;
    margin-bottom: 0;
    font-weight: 600;
}