:root {
    --background-color: #656565;
    --accent-color: rgb(62, 227, 172);
    --header-height: 70px;
    --header-background: #444;
    --light-gray: #BBB;
    --accent-light: rgb(54, 252, 239);
    --margin-top: 10rem;
    --incorrect-color: rgb(180, 85, 85);
}

body,html {
    margin: 0;
    padding: 0;
    color: var(--accent-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
}

body {
    background-color: var(--background-color);
}

/*
    angular is being weird, I think it's because I'm adding a lot of elements to the HTML
    through typescript and it won't let me style those in the respective stylesheets so
    I just threw em in here for now and I'll ask the prof what's up later.
*/
.character {
    white-space: pre;
}

.correct {
    color: var(--accent-color);
}

.incorrect {
    color: var(--incorrect-color);
    text-decoration: underline;
}