:root {
    --background-color: #656565;
    --accent-color: rgb(62, 227, 172);
    --header-height: 70px;
    --header-background: #444;
    --button: #BBB;
    --accent-light: rgb(54, 252, 239);
    --margin-top: 3rem;
    --incorrect-color: rgb(180, 85, 85);
    --label-hover: 240, 240, 240, .2;
    --black-or-white: white;
}

body,html {
    margin: 0;
    padding: 0;
    color: var(--accent-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
}

body {
    background-color: var(--background-color);
}

.character {
    white-space: pre;
    position: relative;
}

.correct {
    color: var(--accent-color);
}

.incorrect {
    color: var(--incorrect-color);
    text-decoration: underline;
}

.current::before {
    content: " ";
    height: 90%;
    border-left: 1.5px solid var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: var(--black-or-white);
}

.wrapper{
    width: 65%;
    max-width: 1000px;
    margin: auto;
    font-size: 1.5rem;
    margin-top: var(--margin-top);
}