.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-themes button {
  width: 8em;
  font-size: 1rem;
  padding: .25em;
}

.button-themes {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(3, auto [col-start]);
  column-gap: 1em;
  row-gap: .75em;
}

.themes-password-flex {
  display: flex;
  gap: 2em;
}

.themes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: 2px solid var(--header-background);
  border-radius: .5em;
  color: var(--button);
}

p{
  margin-bottom: 0;
  font-weight: 600;
}

input{
  width: 100%;
  margin-top: 0;
}

.passwordSubmit{
  border: none;
  background-color: var(--button);
  border-radius: .25em;
  transition: 125ms ease-in-out;
  color: var(--background-color);
  font-size: 15px;
  height: 1.5rem;
  width: 4rem;
  font-weight: 600;
}

button:hover{
  box-shadow: 0 .5em 5px 2px var(--header-background);
  transform: translateY(-3px);
}