.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-themes button {
  width: 8em;
  font-size: 1rem;
  padding: .25em;
}

.button-themes {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(3, auto [col-start]);
  column-gap: 1em;
  row-gap: .75em;
}

.themes-password-flex {
  display: flex;
  gap: 2em;
}

.themes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: 2px solid var(--header-background);
  border-radius: .5em;
  color: var(--button);
  transition: 150ms ease-in-out;
}

p{
  margin-bottom: 0;
  font-weight: 600;
}

input{
  width: 100%;
  margin-top: 0;
}

.passwordSubmit{
  border: none;
  background-color: var(--button);
  border-radius: .25em;
  transition: 125ms ease-in-out;
  color: var(--background-color);
  font-size: 15px;
  height: 1.5rem;
  width: 4rem;
  font-weight: 600;
}

.default:hover {
  color: rgb(62, 227, 172);
  background-color: #656565;
  border-color: #444;
  box-shadow: 0 0 5px 3px rgb(62, 227, 172);
}

.redBlackBtn:hover {
  color: #D8315B;
  background-color: #1E1B18;
  border-color: #2A2A2E;
  box-shadow: 0 0 5px 3px #D8315B;
}

.monkey:hover {
  color: #F8EE33;
  background-color: #444;
  border-color: #333;
  box-shadow: 0 0 5px 3px #F8EE33;
}

.miami:hover {
  color: #f890e7;
  background-color: #ffffff;
  border-color: #777;
  box-shadow: 0 0 5px 3px #0bd3d3;
}

.blue:hover {
  color: #144B86;
  background-color: #78A2CC;
  border-color: #AECBD6;
  box-shadow: 0 0 5px 3px #144B86;
}

.light:hover {
  color: rgb(62, 227, 172);
  background-color: #ffffff;
  border-color: #bbb;
  box-shadow: 0 0 5px 3px rgb(62, 227, 172);
}