.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-themes button {
  width: 8em;
  font-size: 1rem;
  padding: .25em;
}

.button-themes {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(3, auto [col-start]);
  column-gap: 1em;
  row-gap: .75em;
}

.themes-password-flex {
  display: flex;
  gap: 2em;
}

.themes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: 2px solid var(--header-background);
  border-radius: .5em;
  color: var(--button);
}