<div class="wrapper">

    <div class="heading">Settings</div>
    <div class="themes-password-flex">
        <div class="themes-container">
            <h2 class="themes-header">Themes</h2>
            <div class="button-themes">
                <button class="default" (click)="defaultClick()">Default</button>
                <button class="redBlackBtn" (click)="redBlackClick()">Red Dark</button>
                <button class="monkey" (click)="monkeyClick()">MonkeyType</button>
                <button class="miami" (click)="miamiClick()">Miami Vice</button>
                <button class="blue" (click)="blueClick()">Sea Sky</button>
                <button class="light" (click)="lightClick()">Default Light</button>
            </div>
        </div>

        <div class="password-container">
            <h2 class="password-header">Change Password</h2>
            <div class="current-container">
                <p class="current-label">Current Password</p>
                <input type="text">
            </div>
            <div class="new-container">
                <p class="new-label">Current Password</p>
                <input type="text">
            </div>
            <button class="passwordSubmit">Submit</button>
        </div>
    </div>
</div>