<h1>Settings</h1>

<div class="themes-container">
    <h2 class="themes-header">Themes</h2>
    <button class="default" (click)="defaultClick()">Default</button>
    <button class="redBlackBtn" (click)="redBlackClick()">Red and black</button>
    <button class="monkey" (click)="monkeyClick()">Monkey</button>
    <button class="Orange" (click)="OrangeClick()">Blue Orange</button>
    <button class="Blue" (click)="blueClick()">Blue</button>
    <button class="idk" (click)="monkeyClick()">IDK</button>
</div>

<div class="cPass-container">
    <h2 class="cPass-header">Change Password</h2>
    <div class="current-container">
        <p class="current-label">Current Password</p>
        <input type="text">
    </div>
    <div class="new-container">
        <p class="new-label">Current Password</p>
        <input type="text">
    </div>
</div>
