<div class="wrapper">
    <div class="heading">Settings</div>
    <div class="themes-password-flex">
        <div class="themes-container">
            <h2 class="themes-header">Themes</h2>
            <div class="button-themes">
                <button class="default" (click)="defaultClick()">Default</button>
                <button class="redBlackBtn" (click)="redBlackClick()">Red Dark</button>
                <button class="monkey" (click)="monkeyClick()">MonkeyType</button>
                <button class="miami" (click)="miamiClick()">Miami Vice</button>
                <button class="blue" (click)="blueClick()">Sea Sky</button>
                <button class="light" (click)="lightClick()">Default Light</button>
            </div>
        </div>

        <div class="password-container" *ngIf='loggedIn'>
            <h2 class="password-header">Change Password</h2>
            <div class="inputs">
                <label for="current-pass">Current Password:</label>
                <input type="text" name="current-pass" id="current-pass" #currentPass>
                <br>
                <label for="new-pass">New Password:</label>
                <input type="password" name="new-pass" id="new-pass" #newPass>
            </div>
            <div *ngIf="invalid" class="invalid-message">Current password was incorrect.</div>
            <button class="password-submit" (click)="changePassword(currentPass.value, newPass.value)">Submit</button>
        </div>
    </div>
</div>